@import "../../public/css/mixin/mixin.scss";
.buycar_company{
    position: relative;
    margin-top: 40px;
    .buycar_company--content{
        font-size: 16px;
    }
}
/* 特点介绍*/
#buycar{
    margin-top: 50px;
    margin-bottom: 50px;
    input{
        visibility: hidden;
        width: 0;
        height: 0;
        opacity: 0;
    }
    label{
        position: relative;
        top: 1px;
        height: 14px;
        width: 14px;
        margin-right: 10px;
        cursor: pointer;
        border: 1px solid $gray-normaler;
        &.active{
            background: url(../images/right.png) no-repeat center center;
            background-size: cover;
        }
    }
    .buycar__title--warp{
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid $gray-normaler;
    }
    .buycar__item--warp{
        position: relative;
        padding: 0;
        border: 1px solid $gray-normaler;
        border-top: 1px solid transparent;
        .price{
            color: $warning;
        }
        .buycar__item{
            float: left;
            width: 100%;
            padding: 30px 20px 20px 20px;
            border-bottom: 1px solid $gray-normaler;
            vertical-align: top;
            .buycar__show--warp{
                a{
                    float: left;
                    zoom: 1;
                    img{
                        height: 78px;
                        width: 78px;
                        margin-right: 20px;
                        border: 1px solid $gray-normaler;
                    }
                }
                .buycar__content{
                    display:table-cell;
                    padding-top: 14px;
                    zoom: 1

                }
            }
            .buycar__changeNum{
                display: inline-block;
                position: relative;
                width: 42px;
                height: 22px;
                line-height: 20px;
                border:  1px solid $gray-normaler;
                color:$gray-light;
                background-color: white;
                .allNum{
                    font-size: 16px;
                }
                a{
                    display: inline-block;
                    position: absolute;
                    top: -1px;
                    width: 20px;
                    height: 22px;
                    border-radius: 0;
                    border:  1px solid $gray-normaler;
                    background: white;
                    font-size: 14px;
                    color: $gray-dark;
                    line-height: 20px;
                    cursor: pointer;
                    &.plus{
                        right: -20px;
                    }
                    &.reduce{
                        left:-20px;
                    }
                    &:hover{
                        background-color: $warning;
                        color: white;
                    }

                }
            }
            &:last-child{
                border-bottom: 1px solid transparent;
            }
            &.active{
                background-color: #fff7f1;
                .item-delete{
                    color: $warning;
                }
            }
            &.disable{
                background-color: #f5f5f5;
                .type{
                    color: $warning;
                }
                .allNum{
                    color: $gray-light;
                }
                a{
                     &:hover{
                        background-color: white;
                        color: #333333;
                    }
                }
                label,.plus,.reduce{
                    cursor: not-allowed
                }
            }
        }
        .item-delete{
            cursor: pointer;
        }
    }
    // 金额结算
    .buycar__total--warp{
        border: 1px solid $gray-normaler;
        border-top: 1px solid transparent;
        .buycar__items{
            float: left;
            height: 72px;
            line-height: 72px;
            .delete{
                display: none;
                color: $warning;
                margin-left: 72px;
                cursor: pointer;
            }
        }
        .buycar__summary{
            float: right;
            .buycar__data, #buycar__submit{
                display: inline-block;
            }
            .buycar__data{
               vertical-align: middle;
                .buycat__num{
                    margin-right: 30px;
                    .num{
                        color: $warning;
                    }
                }
                .money{
                    font-size: 24px;
                    vertical-align: bottom;
                    line-height: .9;
                    color: $warning;
                }
                .free{
                    margin-top: 10px;
                }
            }
            #buycar__submit{
                position: relative;
                right: -15px;
                height: 72px;
                width: 100px;
                line-height: 72px;
                font-size: 24px;
                color: white;
                background-color: $warning;
                cursor: pointer;
            }
        }
    }
}
