extends ../public/html/meta.jade
block link
    link(rel="stylesheet", type="text/css", href="../public/about/css/index.css")
block body
    div.loading(style="display: none")
    include ../public/html/navigation.jade
    //- 背景图
    section.about--bg
    section.about_title.container
        div.about_warp.clear
            h3 关于我们
                span ABOUT US
            a.about_title--top
    //- 公司简介
    section.about_company.container
        h4 公司简介
        p.about_company--content
            | 公司简介 北京朗恒安生物科技有限公司成立于2017年2月，致力于为人体肺部健康产业研发和提供科学、先进的诊疗手段。  朗恒安主  
    //- 特点介绍 
    section.about_ponit.container
        div.row
            div.col-md-3.col-sm-3.text-left.animate-box
                div.about__services
                    span.icon-0 
                    p 具有全球专利的非介入式声学促排痰技术产品—“朗弗罗”肺笛在大中华区独家代理销售。  
            div.col-md-3.col-sm-3.text-center.animate-box
                div.about__services
                    span.icon-1
                    p 基于互联网技术的肺部健康流行病学数据收集共享平台。

            div.col-md-3.col-sm-3.text-center.animate-box
                div.about__services
                    span.icon-07
                    p 呼吸道微生物学研究及新突发呼吸道感染性病的诊断产品。 
            div.col-md-3.col-sm-3.text-center.animate-box
                div.about__services.last
                    span.icon-88 
                    p 呼吸道肿瘤SETC液体活栓技术及早期筛查、诊断产品。        
                   
     //- 公司优势
    section.about_advantage.container               
        h4 朗恒安的优势:
        div.row
            div.col-md-4.col-sm-12.text-center.nopadding
                div.about_advantage--item
                    div.about__item.about__item--top
                        div.icon-6.about__icon
                        p 北京朗恒安生物科技有限公司核心团队由多名海外学者昨中国科学院科研人员组成。 
                    div.about__item.about__item--bottom
                        p 公司下设研发部、项目部、信息部、质量部、市场部、销售部等业务部门，其中研发人员包括有分子生物学、基因组学、生物信息学、临床医学  
                        div.icon-8.about__icon
            div.col-md-4.col-sm-12.text-center.nopadding
                div.about_advantage--item.middle
                    div.about__item
                        div.icon-cell.about__icon
                    div.about__item
                        p 恒安将依靠先进的基因组学研究和分子检测、生物信息学技术，打造从感染性病原检测、肿瘤早期筛查诊断，到慢性呼吸道疾病治疗、肺部肿瘤 
            div.col-md-4.col-sm-12.text-center.nopadding
                div.about_advantage--item
                    div.about__item.about__item--top
                        p 朗恒安团队正与北京大学人民医院、首都医科大学附属北京安贞医院等多家国内知名三甲医院长期合作开展科研工作，并取得了丰富的科研成果 
                        div.icon-7.about__icon
                    div.about__item.about__item--bottom
                        div.icon-9.about__icon  
                        p 朗恒安在美国、瑞典、香港、台湾等国家或地区设有办事处或分公司，积极开展国际间科研合作和技术引进工作。  

    //- 合作共赢
    section.about_work.container
        h4 合作共赢
        p.about_work--content
            | 欢迎各专业有识之士加入朗恒安团队，共同推动我国大健康产业的发展以及实现自我价值。 
    //- 联系我们
    section.about_link.container.text-center
        p
            a.btn.btn-primary.btn-outline.btn-lg(href="#") 了解肺笛
            a.btn.btn-primary.btn-outline.btn-lg(href="#") 联系我们


    include ../public/html/footer.jade        
    
    
    
    script(src="../public/public/js/lib/jquery.stellar.js")
    script(src="../public/public/js/lib/jquery.waypoints.js")

    script(src="../public/about/js/index.js")
            





