extends ../public/html/meta.jade
block link
    link(rel="stylesheet", type="text/css", href="../public/buycar/css/index.css")
block body
    div.loading(style="display: none")
    include ../public/html/navigation.jade
    section#buycar
        //- 标题
        div.container.buycar__title--warp
            div.row.buycar__title 
                div.col-md-1
                    label.buycar__chose--all(for='')
                    input(type="checkbox")
                    span 全选
                div.col-md-4
                    span 商品名称
                div.col-md-2
                    span 商品单价
                div.col-md-2
                    span 商品数量
                div.col-md-2
                    span 小计
                div.col-md-1
                    span 操作
        //- 内容 
        //- data-disable 为无货标识
        //- 当为无货的时候请用PHP 标记 《p.type 购买类型》 为无货
        //- 显示的数据为计算后的数据
        div.container.buycar__item--warp
            div.row.buycar__item.disable(data-num="1",data-price="2888",data-goodsid="121112",data-type="12")
                div.col-md-1
                    label() 
                    input(type="checkbox")
                div.col-md-4
                    div.buycar__show--warp.cleat
                        a
                            img(src="../public/buycar/images/goods.png")
                        div.buycar__content
                            p 朗弗罗 
                                sup ®
                                span 肺笛 
                            p.type 购买类型：
                                span 肺笛单品
                div.col-md-2
                    span.price 2880.00
                div.col-md-2
                    div.buycar__changeNum.text-center 
                        span.allNum 1
                        a.plus +
                        a.reduce -
                div.col-md-2
                    span.total.price 2888.00
                div.col-md-1
                    span.item-delete 删除
            div.row.buycar__item(data-num="1",data-price="2888.00",data-goodsid="121115",data-type="12")
                div.col-md-1
                    label
                    input(type="checkbox")
                div.col-md-4
                    div.buycar__show--warp.cleat
                        a
                            img(src="../public/buycar/images/goods.png")
                        div.buycar__content
                            p 朗弗罗 
                                sup ®
                                span 肺笛 
                            p.type 购买类型：
                                span 肺笛单品
                div.col-md-2
                    span.price 2880.00
                div.col-md-2
                    div.buycar__changeNum.text-center 
                        span.allNum 1
                        a.plus +
                        a.reduce -
                div.col-md-2
                    span.total.price 2888.00
                div.col-md-1
                    span.item-delete 删除
            div.row.buycar__item(data-num="1",data-price="2888.00",data-goodsid="121112",data-type="12")
                div.col-md-1
                    label
                    input(type="checkbox")
                div.col-md-4
                    div.buycar__show--warp.cleat
                        a
                            img(src="../public/buycar/images/goods.png")
                        div.buycar__content
                            p 朗弗罗 
                                sup ®
                                span 肺笛 
                            p.type 购买类型：
                                span 肺笛单品
                div.col-md-2
                    span.price 2880.00
                div.col-md-2
                    div.buycar__changeNum.text-center 
                        span.allNum 1
                        a.plus +
                        a.reduce -
                div.col-md-2
                    span.total.price 2888.00
                div.col-md-1
                    span.item-delete 删除
        //-  结算
        div.container.buycar__total--warp
            div.buycar__items
                label.buycar__chose--all() 
                input(type="checkbox")
                span 全选
                span.delete 删除已选商品
            div.buycar__summary
                div.buycar__data.text-right
                    span.buycat__num 已经选择
                        a.num 0
                        span 件商品
                    span.buycar__money 商品总价：
                        a.money ￥0
                    div.free 免邮费    
                div#buycar__submit.text-center 结算

               //-  警告
    div.am-modal.am-modal-confirm(tabindex="-1")#my-confirm
        div.am-modal-dialog
            div.am-modal-hd 警告
            div.am-modal-bd  你，确定要返回吗？返回会造成数据丢失！！！
            div.am-modal-footer
               span.am-modal-btn(data-am-modal-cancel) 取消
               span.am-modal-btn(data-am-modal-confirm) 确定            

    include ../public/html/footer.jade        

    script(src="../public/buycar/js/index.js")
            





